{% extends "base.html" %}
{% block title %}천지선공에 관하여{% endblock%}
{% block content %}

  <section id="mamu">
    <div class="container">
      <div class="row">
        <div class="col-md-9 align-self-center">
          <hr>
          <h1>마무리 행공 </h1><br>
          <p>
            마무리 행공은 기운을 정리정돈하여 단전에 갈무리하는 행공이다.<br>
            두 손을 단전에 모으고 발뒤꿈치를 붙여서 똑바로 선다. ‘천~’호 흡에 두 손을 가슴으로 끌어올린 다음 양옆으로 팔을 쫘악 펴준다. 이때 단전에서부터 끌어올린 기운을 척추를 중심으로 몸 뒤 어깻죽 지를 타고 양쪽 손바닥(노궁혈)으로 펼쳐내며, 호흡은 노궁혈을 통해 단전에 이르게 한다. ‘지~’호흡에 상체와 팔을 탈기시켜 앞으로 숙 여서 손바닥이 위로 향하게 하여 발목 뒤 바닥에 내려놓는다.<br>
            다시 ‘천~’호흡으로 탈기된 상체를 일으켜 세운다. 이때에는 발바 닥의 용천혈에서부터 기운을 끌어올리며 호흡으로 상체를 밀어 일 으킨다. 즉 배가 등을 밀어 바로 세운 다음에 처음처럼 팔과 손으로 기운을 가슴까지 끌어올려 다시 양옆으로 팔을 쫘악 펴준다. 2회 되풀이하고 3번째 ‘지~’호흡 때 양손과 함께 기운을 단전에 모은다.
          </p>
        </div>
        <div class="col-md-3 my-auto">
          <div class="d-flex justify-content-center my-1">
            <img src="/static/img/마무리.jpg" alt="" class="img-fluid d-block" style="height:250px">
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
