<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}"">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
  <div class="container">
  <nav class="navbar navbar-expand-sm navbar-light bg-success">
      <a class="navbar-brand" href="/home">
        <img class="mr-3" src="/static/img/logo.png" style="height:35px;"><img src="/static/img/logo2.png" style="height:55px;">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item {% if home %}active{% endif %}">
            <a class="nav-link" href="/home">홈</a>
          </li>
          <li class="nav-item {% if about %}active{% endif %}">
            <a class="nav-link" href="/about">천지선공 소개</a>
          </li>
          <li class="nav-item {% if contact %}active{% endif %}">
            <a class="nav-link" href="/contact">연락처</a>
          </li>
        </ul>
      </div>
  </nav>
</div>

<!-- <header id="page-header">
    <div class="container">
      <div class="row">
        <div class="col-md-6 m-auto text-center">
          {% if not home %}<img src="/static/img/sangho.png" backgroundSize: cover; backgroundPostion: center center; />{% endif %}
        </div>
      </div>
    </div>
</header> -->

  <div class="container">
    {% block content %} {% endblock %}
  </div>

  <footer id="main-footer" class="text-center p-4">
    <div class="container">
      <div class="row">
        <div class="col">
          <p>Copyright 2019 &copy; 알고리즘 파이썬</p>
        </div>
      </div>
    </div>
  </footer>

  <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/popper.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js"></script>
  <script src="{{ url_for('static',filename='js/main.js') }}"></script>

</body>
</html>
