{% extends "base.html" %}
{% block title %}천지선공 홈페이지{% endblock%}
{% block content %}

  <!-- Home Headig Section -->
  <section id="home-heading" class="p-2">
    <div class="dark-overlay">
      <div class="row">
        <div class="col">
          <div class="container pt-2">
            <h1>알고리즘 파이썬 </h1><br>
                <p align="center">파이썬을 알아야 인생이 펴진다. 컴퓨터의 주인은 소프트웨어이다. CPU가 아니다. 파이썬을 마음대로 다루지 못하면 인생이 고달퍼진다.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
